/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

/**
 * weight
 */
.bold{font-weight: 700;}

/**
 * HEADER
 */
.title-site{
    margin-bottom: 0;
    padding-top: 20px;
    font-family: 'Bangers', cursive;
    font-size: 45px;
    color: #FFF;
    text-align: center;
    line-height: 1;
    padding-top: 0;
}
.quote-logo{
    display: block;
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    font-size: 23px;
    color: #060841;
}

/**
 * TITRE
 */
.h-title{
    background: red;
    color : #FFF;
    padding: 7px 20px;
    display: inline-block;
    a:hover{
        text-decoration: none;
    }
    @include media-breakpoint-up(sm) {
        font-size: 110px;
        padding: 7px 15px;
    }
}
.h1-title{
    font-size: 25px;
}
.h2-title{
    font-size: 24px;
}
.h3-title{
    font-size: 23px;
}
a{color: blue;}