// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.question-container{
    position: relative;
    overflow: hidden;
    height: 133px;
    width: 100%;
    margin: 0;
    .question{
        display: block;
        position : absolute;
        left: 0;
        right: 0;
        font-size: 50px;
        text-align: center;
        color: #FFF;
        top: 133px;
        opacity: 0;
    }
}
.reponse-container{
    position: relative;
    margin: 40px 0 0 0;
    overflow: hidden;
    height: 84px;
    width: 100%;
    .reponse{
        position : absolute;
        bottom: 84px;
        left: 50%;
        margin: 0;
        padding: 0;
        transform: translateX(-50%);
        max-width: 380px; 
        text-align: center; 
        color: #FFF;
    }
}
/*
.kovsky-anim{
    position: relative;
    overflow: hidden;
    display: block;
    height: 100vh;
    width: 100vw;
}

.fp-section{
    overflow: hidden;
}

.panel{
    position: absolute;
    top: 0;

    &.max {
        height: 100vh;
        width: 100vw;
        background: yellowgreen;
    }

    &.half-width{
        height: 100vh;
        width: 50vw;
        background: pink;
        &.left{
            left:0;
            pointer-events: auto;
            overflow: hidden;
            transform: translate(0, -100vh);
        }
        &.right{
            right:0;
            pointer-events: auto;
            overflow: hidden;
            transform: translate(0, 100vh);
        }
    }

    &.half-height{
        height: 50vh;
        width: 100vw;
        background: purple;
    }
}
*/

.intro02{
    background: #671616;
    .h-title{color: #FFF; font-size: 50px; }
}

/* index2 */
/*
.lanterne{
    transform: scale(1.1);
    animation: animate-lanterne 10s linear forwards 0s;
    object-fit: cover;
}

@keyframes animate-lanterne{
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1.0);
    }
}
*/
.tl-wrapper{
    min-height: 100vh; overflow: hidden;
}

body, p {
  overflow:hidden;
}

.h-title{
    font-weight: 800;
}
.wrap{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}
.question{
    &.hide{
        display: none
    }
}

.fromRight{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 100%;
    width: 50%;
    height: 50%;
    overflow: hidden;
    &.fullheight{
        height: 100%;
    }
}
.fromCenter{
    position: absolute;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    .item{
        position: absolute;
        left: 100%;
        height : 100%;
        width: 100%; 
    }
}
.fromLeft{
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  &.nouilles{
      height: 50%;
      top: 50%;
      background-image: url(../images/noodles.jpg);
      background-size: cover;
  }
}
.fromTopLeft{
  position: absolute;
  top: -100%;
  left:0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.fromBottomRight{
  position: absolute;
  top: 100%;
  left:50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.intro01{
  background-image:url(../images/ramen-women.jpg);
  background-size: cover;
  .gatsby-image-wrapper{
      width: 100%;
      height: 100%;
  }

}
.elemRight03a{
  z-index:-1;
}
.intro03{
  height:50%;
  background-color:darkgrey;
  bottom: 0;
  top: auto;
  background-image: url(../images/old-man.jpg);
  background-size:cover;
}
.elemTopLeft04{
  background:grey;
}
.elemBottomRight04{
  background:grey;
}
.bouillon{
    background-image: url(../images/bouillon.jpg);
    background-size: cover;
}
