// 1. Layout principal
body{padding : 0 0 80px 0;}
.main-container {
    /* remove left bar */
    padding-left: 0px;
    min-height: 100vh;
    animation: padding-nav 0.5s ease forwards 4.5s;

    @include for-jenny { //1650
        padding-left: 20%; 
    }
    @include media-breakpoint-down(md) { //768
        padding-left: 0px;
    }
}

.sidebar-left{
    opacity: 0;
    animation: reveal-nav 0.5s ease forwards 4.5s;

    @include media-breakpoint-down(md) {
        display: block;
    }

    .container-fixed{
        position: fixed;
        padding: 10px 0;
        top: 0;
        width: 20%;
        height: 100vh;
        background-image: url(../images/bg-nav.jpg);
        background-size:cover;
        @include media-breakpoint-down(md) {
            background: none;
        }
    }
}


.central-container{
    @include media-breakpoint-down(md) {
        padding: 0px 65px;
    }
    @include media-breakpoint-down(sm) {
        padding: 65px 0px;
    }
}

@keyframes padding-nav{
    from{
        padding-left: 0px;
    }
    to{
        padding-left: 380px;
    }
}

@keyframes reveal-nav{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


