// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

//
// Gestion du Menu
//

.hamburger{
    position: fixed;
    z-index: 900;
    top: 5vh;
    right: 5vw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #2B2E4A;
    cursor: pointer;

    &__patty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 50%;
        background-clip: padding-box;
        background: darken(white, 3);
        
        &:nth-child(1) {
          transform: translate(-50%, calc(-50% - 8px));
        }
        
        &:last-child {
          transform: translate(-50%, calc(-50% + 8px));
        }
    }
}

.block-nav{
    position: fixed;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    top: 0; 
    left: 0;
    background: #2B2E4A;
    &.active{
        pointer-events: initial;
    }


    .nav{
        list-style-type: none;
        font-size: 40px;
        &__link {
            display:block;
            padding: 1vh 5vw;
            text-align: center;
            transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
            opacity: 0;
            transform: translateY(50%);
            color: #FFF;
            border-bottom: 3px solid #FFF;
            &:last-child{
                border-bottom: none;
            }

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.05s;
                }
            }
            &.active {
                opacity: 1;
                transform: translateY(0);
            }
            &:hover{
                text-decoration: none;
                opacity: 0.9;
                color: #e50050;
            }
        }
    }
}

//
// Affichage du logo
//

.block-logo-txt{
    .line-logo{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 0px; 
        height: 1px; 
        background-color: #FFF;
    }
    .title-site{
        position: relative;
        overflow: hidden;
        height: 55px;
        line-height: 1;
        padding-top: 0;
        margin-bottom: 0;
        display: block;
        font-family: 'Bangers', cursive;
        font-size: 55px;
        color: #FFF;
        text-align: center;
        text-shadow: 1px 1px 2px red;
        @include media-breakpoint-down(md) {
            font-size: 45px;
            height: 45px;
            text-align: left;
        }
        .hide-logo{
            position: absolute;
            top: 63px;
            left: 0;
            right: 0;
        }
    }
    .quote-logo{
        position: relative;
        display: block;
        overflow: hidden;
        font-family: 'Patrick Hand SC', cursive;
        height: 32px;
        line-height: 1;
        text-align: center;
        font-size: 23px;
        color: #FFF;
        text-shadow: 1px 1px 2px #000;

        @include media-breakpoint-down(md) {
            text-align: left;
            font-size: 17px;
        }

        .hide-logo{
            position: absolute;
            top: -32px;
            left: 0;
            right: 0;
        }
    }
}

//Animation des barres du burger menu
@keyframes animate-patty-1{
    0%{
        transform: translate(-50%, calc(-50% - 8px)) scale(1) scale(1,1);
    }
    50%{
        transform: translate(-50%, calc(-50% - 8px)) scale(0.75,1);
    }
    100%{
        transform: translate(-50%, calc(-50% - 8px)) scale(1) scale(1,1);
    }
}
@keyframes animate-patty-2{
    0%{
        transform: translate(-50%, -50%) scale(1) scale(1,1);
    }
    50%{
        transform: translate(-50%, -50%) scale(0.75,1);
    }
    100%{
        transform: translate(-50%, -50%) scale(1) scale(1,1);
    }
}

@keyframes animate-patty-3{
    0%{
        transform: translate(-50%, calc(-50% + 8px)) scale(1) scale(1,1);
    }
    50%{
        transform: translate(-50%, calc(-50% + 8px)) scale(0.75,1);
    }
    100%{
        transform: translate(-50%, calc(-50% + 8px)) scale(1) scale(1,1);
    }
}